.common-container {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 600px;
}

.coin-container input {
  width: 70px;
}
.coin-container {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 230px;
  vertical-align: middle;
  align-items: center;
}

.coin-container label {
  margin: 0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #d6d097;
  width: 30px;
  height: 30px;
}
.coin-state-description {
  width: 230px;
  display: flex;
  justify-content: space-between;
}
