.editor-container {
  position: relative;
  margin: 20px 50px;
  width: 30%;
  height: 60%;
}
.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
form {
  height: 100vh;
  overflow: hidden;
}
.form-control {
  margin: 20px 10px 0px 10px;
}
.form-group {
  text-align: center;
  margin: 20px 10px 10px 10px;
}
