/* .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  width: 15rem;
  height: 18em;
  border: 3px solid #497a81;
} */

.size {
  height: 65%;
  object-fit: contain;
}

.description {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
  height: 100%;
  vertical-align: bottom;
  box-sizing: border-box;
}

.title {
  font-size: 15px;
  text-align: center;
  font-weight: 800;
}
.select-btn {
  margin-top: 10px;
  background-color: white;
  color: black;
  border: 2px solid #497a81; /* Green */
  border-radius: 5px;
}
.reset {
  z-index: 1;
  position: absolute;
  top: -35px;
  left: 100%;
  font-size: 25px;
  font-weight: 800;
}
.editor-container {
  position: relative;
  margin: 20px 50px;
  max-width: 400px;
  height: 60%;
}
.card-img-top {
  width: 100%;
  height: 100%;
  height: 200px;
  display: block;
  object-fit: contain;
}
.form-froup {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.common-control-styles {
  background: transparent;
  border: 1px solid #497a81;
  border-radius: 7px;
}

.submit {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 25px;
}
.submit-container {
  text-align: end;
}
.controls-wrapper {
  margin: 10px;
}

@media (max-width: 900px) {
  .editor-container {
    position: relative;
    margin: 20px 50px;
    max-width: 400px;
    height: 60%;
  }
}
