.coin-container {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.coin-container div {
  text-align: center;
  display: inline-block;
  line-height: 52px;
  font-weight: 600;
  font-size: 25px;
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 50%;
}
.one,
.two,
.five,
.ten {
  background-color: rgb(227, 228, 193);
}

.disable {
  background-color: rgb(192, 192, 192);
}

.deposit {
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
}
